^ContentPage {
    background: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    padding: 20;
}

.Button_Wylosuj {
    background: #007bff;
    color: #fff; 
    padding: 10 20; 
    cursor: pointer; 
    border-radius: 5; 
}

grid > label {
    font-size: 16;
    margin-bottom: 10;
}

.Class_Style{
    padding-top:10;
    text-align:center;
}

.Student_Style{
    padding-top: 10;
}

#errorLabel {
    color: red;
    font-size: 16;
    text-align: center;
    padding-top: 5;
}


.Button_Add_User_Style {
    background: #28a745;
    color: #fff;
    padding: 10 20;
    cursor: pointer;
    border-radius: 5;
    font-weight: bold;
}

#DrawedStudent {
    margin-top: 10;
    font-size: 18; 
    font-weight: bold;
}


.Draw_Student_Button_Style {
    background: #ffc107;
    color: #333;
    padding: 10 20;
    cursor: pointer;
    border-radius: 5;
    margin-left: 20;
    font-weight: bold;
    font-size:large;
}
.Draw_Grid_Style{
    text-align: center;
}
.Grid_First_Style{
    padding-right: 10;
}